<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
            crossorigin="anonymous">
        <title>Friends</title>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">DojoFriends</a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            <h1>Hello, {{request.session.name}}!</h1>
            
            {% if all_friends %}
            <h2>Here is the list of your friends:</h2>
            <table>
                <th>
                    <tr>
                        <td>Alias</td>
                        <td>Action</td>
                    </tr>
                </th>
                {% for friend in all_friends %}
                <tr>
                    <td>
                        <a href="/user/{{friend.id}}">{{ friend.alias }}</a>
                    </td>
                    <td>
                        <a href="/user/delete/{{friend.id}}">Remove from Friends</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <h2>You currently have no friends...</h2>
            {% endif %}
            
            <h2>Other Users you are not friends with:</h2>
            <table>
                <th>
                    <tr>
                        <td>Alias</td>
                        <td>Action</td>
                    </tr>
                </th>
                {% for not in not_friends %}
                <tr>
                    <td>
                        <a href="/user/{{not.id}}">{{ not.alias }}</a>
                    </td>
                    <td>
                        <a href="/user/add/{{not.id}}">Add as Friend</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>