<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
            crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'redo_app/css/styles.css' %}" media="screen" title="no title" charset="utf-8">
        <title>Welcome to DojoFriends</title>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="{% static 'redo_app/images/binaryyinyang.png/' %}" width="40" height="40" alt="">
            </a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active btn btn-danger" href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            <h1>Hello, {{request.session.name}}!</h1>
            
            {% if all_friends %}
            <h4>Here is the list of your friends:</h4>
            <table class="table table-striped">
                <tr>
                    <th scope="col">Alias</th>
                    <th scope="col">Action</th>
                </tr>
                {% for friend in all_friends %}
                <tr>
                    <td>
                        <a class="btn btn-outline-primary btn-sm" href="/user/{{friend.id}}">{{ friend.alias }}</a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger btn-sm" href="/user/delete/{{friend.id}}">Remove from Friends</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <h4>You currently have no friends...</h4>
            {% endif %}
            
            <h4>Other Users you are not friends with:</h4>
            <table class="table table-striped">
                <tr>
                    <th>Alias</th>
                    <th>Action</th>
                </tr>
                {% for not in not_friends %}
                <tr>
                    <td>
                        <a class="btn btn-outline-primary btn-sm" href="/user/{{not.id}}">{{ not.alias }}</a>
                    </td>
                    <td>
                        <a class="btn btn-outline-success btn-sm" href="/user/add/{{not.id}}">Add as Friend</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>