<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
            crossorigin="anonymous">
        <title>User Profile</title>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                {% load static %}
                <img src="{% static 'redo_app/images/binaryyinyang.png/' %}" width="40" height="40" alt="">
            </a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Go Back</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-danger" href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            <!-- <h1>{{ user.alias }}'s Profile</h1>
            <p>Name: {{ user.name }}</p>
            <p>Email Address: {{ user.email }}</p> -->

            <div class="card" style="width: 25rem;">
                <img class="card-img-top" src="{% static 'redo_app/images/coding_dojo.jpg/' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ user.alias }}'s Profile</h5>
                    <p class="card-text">Name: {{ user.name }}</p>
                    <p class="card-text">Email Address: {{ user.email }}</p>
                    <a href="/home" class="btn btn-outline-secondary">Go back</a>
                </div>
            </div>
        </div>
    </body>
</html>